<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head" />

<body>
	<div th:include="fragments :: header">?</div>

	<div class="major_pane">

 		<h1 th:text="${'Detail for user ' + userId}"/>

 		<h2>Transactions</h2>
 				
 		<div class="minor_pane]">
            <table style="border-style:ridge;">
                <tr style="color: silver;">
                    <th>Txn Id</th>
                    <th>Amount</th>
                    <th>Where</th>
                    <th>When (Long)</th>
                    <th>When (Date)</th>
            	</tr>
                <tr th:each="ccTransaction : ${ccTransactions}">
                    <td th:text="${ccTransaction.txnId}"/>
                    <td th:text="${ccTransaction.amount}"/>
                    <td th:text="${ccTransaction.where}"/>
                    <td th:text="${ccTransaction.when}"/>
                    <td th:text="${#dates.formatISO(new java.util.Date(ccTransaction.when))}"/>
            	</tr>
			</table>
 		</div>

		<h2>Authorizations</h2>

 		<div class="minor_pane]">
            <table style="border-style:ridge;">
                <tr style="color: silver;">
                    <th>Auth Id</th>
                    <th>Amount</th>
                    <th>Where</th>
            	</tr>
                <tr th:each="ccAuthorisation : ${ccAuthorisations}">
                    <td th:text="${ccAuthorisation[1]}"/>
                    <td th:text="${ccAuthorisation[0]}"/>
                    <td th:text="${ccAuthorisation[2]}"/>
            	</tr>
			</table>
 		</div>

    </div>
    
	<div th:include="fragments :: footer">?</div>
</body>

</html>